.wrapper {
    --max-width: 980px;
    --min-margin: $spacing-4;

    width: min(var(--max-width), 100% - 2 * var(--min-margin));
    margin-inline: auto;
}

.main-layout {
    display: grid;
    grid-template-columns: $layout-padding 1fr $layout-padding;

    >*.full {
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        grid-column: 2;
        display: grid;
    }

    @include narrow-layout {
        @include layout-gtc($content-break-narrow);
    }

    @include normal-layout {
        @include layout-gtc($content-break-normal);
    }

    @include wide-layout {
        @include layout-gtc($content-break-wide);
    }
}

.main-text {
    margin-bottom: $spacing-12;
}