@import '../_theme.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-block-start: var(--scroll-padding-start, 1.5em);
    font-family: $font-family-sans;
    font-size: $font-size-base;
    line-height: $line-height-normal;
    color: $clr-gray-900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-normal;
    margin: 0;
}

p {
    margin: 0 0 $spacing-4;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

/* Don't stretch my Media */
img,
embed,
video,
object {
    display: block;
    max-width: 100%;
    height: auto;
}